.home-section{
  background-color: rgba(211, 211, 211, 0.671);
}

.cart{
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  height: 350px;
  border-radius: 10px;
}

.courses{
  margin: 100px 100px;
}

.text-area{
  margin-top: 20px;
  margin: 10px;
  line-height: 50px;
}