.header {
  background-image:linear-gradient(rgba(80, 79, 79, 0.5), rgba(0, 0, 0, 0.5)),  url(../../images/logo2.jpg);
  width: 100%;
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 !important;
}
.header-title {
  letter-spacing: 2px;
  color: rgba(255, 238, 0, 0.651);
  font-size: 2.5em;
  font-weight: 800;
}
.article{
  letter-spacing: 10px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 238, 0, 0.63) !important;
}
.regular-btn {
  border: 1px solid #f3ca12d2;
  outline: 0;
  background-color: transparent;
  color: #fff;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.5s linear;
  text-transform: uppercase;
  margin-left: 190px;
}
.regular-btn:hover {
  background-color: #fff;
  color: #f39c12;
  border: 1px solid #fff;
}