.details h1{
  font-size: 40px;
  letter-spacing: 2px;
  
}

.details p{
  font-size: 20px;
  letter-spacing: 2px;
}
.title-word{
  letter-spacing: 10px;
  font-size: 80px;
}

.contact-container{
  height: 100vh;
  /* background-color: wheat; */
  padding: 20px;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 150px;
}
.contact-section{
  background-color: lightgrey;
}
